@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* styles.css */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}


.navbar-brand {
    color: 111 !important;
    font-weight: 700;
    padding-left: 3em;
}

.nav-link {
    color: 111 !important; /* Change link color */
    border-bottom: 2px solid transparent;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
}

.nav-link:hover {
    border-bottom: 2px solid red;
}

#navbar button{
    color: #fff;
    margin-right: 2em;
}

