@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* login.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

.card{
    border-radius: 10px;
}

.heading {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 600;
}

#username{
    height: 3em;
    border-radius: 10px;
}

#button{
    margin-top: 10px;
   margin-left: 95px;
   background-color: #a5c422 ;
   color: white;
}

.signup-link {
    padding-top: 5px !important;
   font-weight: 300 !important;
}

.signup-link p,a{
    text-align: center;
    padding-top: 10px !important;
   
}
